@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.title {
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

.tabWrapper {
  position: relative;
  display: flex;
}

.tab {
  width: 180px;
  padding: 10px 20px;
  font-weight: 500;
  color: colors.$TEXT_PRIMARY;
  border-bottom: 2px solid #e7e5e4;
}

.seletedTab {
  color: colors.$TEXT_SECONDARY;
}

.bottomColor {
  @include position.absolute(0 0 0 33.3333%);
  width: 33.3333%;
  border-bottom: 2px solid #2dd4bf;
  transition: 0.2s;
}

.bottomLeftColor {
  transform: translateX(-100%);
}

.bottomCenterColor {
  transform: translateX(0);
}

.bottomRightColor {
  transform: translateX(100%);
}
